
body {
  font-family: sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.toggle,
.toggler {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
.toggler {
  color: #ddd;
  transition: 0.2s;
  font-weight: bold;
}
.toggler--is-active {
  color: rgb(98, 155, 34);
}
.b {
  display: block;
}
.toggle {
  position: relative;
  width: 80px;
  height: 35px;
  border-radius: 100px;
  background-color: rgb(18, 110, 0);
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}
.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
  background-color: #ffffff;

}
.check:checked ~ .switch {
  right: 2px;
  left: 57.5%;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0.08s, 0s;
}
.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 57.5%;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0s, 0.08s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.table-section {
  padding: 45px 0 150px 0;
  float: left;
  width: 100%;
  text-align: center;
}
.hide {
  display: none;
}

/* 
Customize
*/
.title{
  text-align: center;
}

.table{
  border: 2px solid black;
  height: max-content;
}